*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html{
    width:100%;
    min-height: 100vh;
}
.portfolio{
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction:column;
    position: relative;
}
.tap{
    color:var(--color5);
    margin-top: 1.5rem;
    display: none;
    
}
@media(max-width:968px){
    .tap{
       display:block ;
    }
}
